.imgAndText{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
}
.card1TextDiv1{
    display: flex;
    flex-direction: column;
}
.hostedBy{
    display: flex;
    flex-direction: row;
    
    align-items:center;
    justify-content: space-between;
}
.hostedBy>img{
    width: 50px;
    height: 30px;
}
.epsTitle{
    font-size: 1.5em;
    font-weight: 600;
}

.eps1{
    font-weight: bold;
    color: rgb(205,70,49);
    width: 90%;
    text-align: start;
}
.episodes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    justify-content: center;
}
.card1{
    display: flex;
    flex-direction: column;
    width: 570px;
    background-color:white;
    border-radius:12px;
    padding: 10px;
    border:solid 2px black;
    justify-content: space-between;
}
.addButton{
    width: 70px;
    height: 30px;
    font-size: 1.5em;
    padding: 0;
}