body{
    margin: 0;
    padding: 0;
}
.AlternatesFont{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    background-color:rgb(247,237,232);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top:30px;
}
a{
    text-decoration: none;
    color: black;
}
.headerLinks{
    font-weight: bold;
    display: flex;
    gap:60px;
}
.headerButtons{
    display:flex;
    font-size: 0.875em;
    gap:20px;
}
.recentButton{
    background-color:transparent;
    border-radius: 8px;
    padding: 8px 20px;
    font-weight: bold;
}
.subscribeButton{
    background-color:black;
    color:white;
    border-radius: 8px;
    border: none;
    padding: 8px 20px;
    font-weight: bold;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
}
.moreLink{
    display: flex;
    align-items: center;
    gap:5px;
}
.logoLinks{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:120px;
}
.firstContainer{
    background-color:rgb(247,237,232);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
}
.starImg{
    position: absolute;
    height: 216px;
    margin-top: 150px;
    right: 50px;
}
.swirlImg{
    position: absolute;
    width: 630px;
    height: 593px;
    left:-150px;
}
.firstText{
    margin-top: 50px;
    display: flex;
    align-items:center;
    flex-direction: column;
    gap:40px;
}
.largeText{
    font-size: 6em;
    margin:0;
    font-weight: bold;
    text-align: center;
}
.orangeText{
    text-align: center;
    color:rgb(205,70,49);
}
.miniText{
    width: 300px;
    text-align: center;
}
.subscribeButton1{
    background-color:black;
    color:white;
    border-radius: 8px;
    padding: 18px 35px;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
}
.secondContainer{
    background-color:rgb(247,237,232);
    padding-bottom: 100px;
    overflow: hidden;
}
#slider{
    display: flex;
    gap:20px;
    padding-left: 50px;
}
.sliderButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    padding-top: 30px;
}
.HR{
    width: 80%;
    color:black;
}
.supportedBy{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.suppCont{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.supportedText{
    font-weight: bold;
    font-size: 1.438em;
}
.scribbleDiv{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: -75px;
}
.scribbleImg{
    z-index: 1;
}
.thirdContainer{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.talk{
    font-size: 3.688em;
    font-weight: bold;
    width: 55%;
    text-align: center;
}
.illDiv{
    display: flex;
    flex-direction: row;
    gap:100px;
}
.ill{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
.ill>p{
    width: 70%;
    text-align: center;
    font-weight: 500;
}
.quoteDiv{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 150px;
}
.quote{
    width: 80%;
    background-color:rgb(247,237,232);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:50px;
    padding: 50px;
}
.quote>div{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap:10px;
}

.p{
    width: 40px;
}
.VectorSpotify{
    width: 16px;
    height: 16px;
}
.star4{
    position: absolute;
    right: 50px;
    margin-top:-350px;
}
.vec4{
    position: absolute;
    left: 40px;
    margin-bottom: -120px;
}
.fourthContainer{
    background-color:rgb(237,243,247);
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    overflow-x: hidden;
    padding-bottom: 100px;
}
.slider1{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap:30px;
    padding-left:150px;
}
.sliderButtons1{
    display: flex;
    padding-left:150px;
    gap:20px;
    padding-top: 50px;
}
.listeners{
    text-align: center;
    font-size: 3.688em;
    font-weight: bold;
    margin: 0;
    z-index: 2;
}
.platform{
    text-align: center;
    font-size: 1.416em;
    font-weight: 500;
    padding-bottom: 60px;
}
.Sparkle{
    width: 105px;
    position: absolute;
    left: 280px;
    margin-top: -70px;
    z-index: 0;
}
.fifthContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 150px;
}
.cards{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
}
.card{
    width: 373px;
}
.card>p{
    width: 350px;
}
.cardName{
    font-size: 1.416em;
    font-weight: bold;
}
.Membership{
    font-weight: bold;
    font-size: 3.706em;
    margin: 0;
}
.membLor{
    font-size: 1.416em;
}
.fifthContainer>div{
    padding-bottom: 80px;
}
.pricingButton{
    background-color:black;
    color:white;
    font-size: 0.875em;
    border-radius: 8px;
    border: none;
    padding: 18px 30px;
    font-weight: bold;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
}
.sixthContainer{
    background-color: rgb(247,237,232);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 120px;
    margin-top: -80px;
    padding-bottom: 130px;
}
.cards1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}
.card1{
    display: flex;
    flex-direction: column;
    width: 570px;
    background-color:white;
    border-radius:12px;
    padding: 10px;
    border:solid 2px black;
    height: 290px;
    justify-content: space-between;
}
.subDiv{
    display: flex;
    flex-direction: row;
}
.hosted{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.hostedDiv{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 98%;
    margin-bottom: 20px;
}
.hostedImg{
    width: 46px;
    height: 26px;
}
.card1TextDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.cov{
    width: 166px;
    height: 166px;
}
.eps{
    font-weight: bold;
    color: rgb(205,70,49);
    width: 90%;
    text-align: start;
    padding-left: 20px;
}
.card1Name{
    font-size: 1.416em;
    font-weight: bold;
    color: rgb(205,70,49);
    width: 90%;
    text-align: start;
    padding-left: 20px;
}
.card1Name1{
    font-size: 1.416em;
    font-weight: bold;
    width: 90%;
    text-align: start;
    padding-left: 20px;
}
.hostedDiv>div>button{
    background-color:transparent;
    border: solid 1px black;
    border-radius:4px;
    padding: 7px 13px;
    font-size: 0.75em;
    font-weight: 500;
}
.HR1{
    width: 90%;
    color:black;
}
.cardLorem{
    padding-left: 20px;
    width: 90%;
    text-align: start;
}
.card135{
    box-shadow: 10px 10px 0px 0px rgb(129,173,200);
}
.browseButton{
    background-color:black;
    color:white;
    border-radius: 8px;
    padding: 18px 35px;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
}
.seventhContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 130px;
}
.seventhContainer>div>p{
    text-align: center;
}
.allSponsorCards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap:20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.sponsorCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 373px;
    gap:20px;
}
.spCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px;
    border-radius: 8px;
    gap:65px;
    padding: 55px 40px 20px 40px;
}
.mostPop{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
}
.spDescr{
    border-radius:8px;
    border: solid 2px;
    width: 373px;
    padding-top: 30px;
    padding-bottom: 80px;
}
.sponsorName{
    font-size: 2.291em;
    font-weight: bold;
    margin: 0;
}
.mostPopular{
    font-size: 0.75em;
    background-color: rgb(205,70,49);
    color:white;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}
.spLor{
    font-size: 0.875em;
}
.spFam{
    background-color:rgb(247,237,232);
    border-color: rgb(205,70,49);
}
.subscribeButton2{
    background-color:black;
    color:white;
    border-radius: 8px;
    border: none;
    padding: 20px 40px;
    font-weight: bold;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
}
.subDiv{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.price{
    font-size: 1.416em;
    font-weight: bold;
    color:rgb(205,70,49);
}
.spDescr>ul{
    padding-left: 60px;
}
.spDescr>p{
    padding-left: 40px;
}
.eighthContainer{
    padding-top: 50px;
    padding-bottom: 130px;
}
.articles{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:solid 2px;
    border-radius: 8px;
    padding: 10px;
    width: min-content;
}
.article1{
    box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 1);
}
.HR2{
    color:black;
    width: 100%;
}
.article>div>p{
    width: 100%;
}
.articlesDiv{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
}
.article>div>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.article>div>div>div>button{
    background-color:transparent;
    border: solid 1px black;
    border-radius:4px;
    padding: 7px 13px;
    font-size: 0.75em;
    font-weight: 500;
}
.browseAllDiv{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-top: 50px;
}
.ninthContainer{
    background-color:rgb(237,243,247);
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 130px;
    padding-bottom: 150px;
    border-bottom: solid 1px black;
    position: relative;
    overflow: hidden;
}
.beta{
    border:solid 1px;
    border-color:rgb(205,70,49);
    color:rgb(205,70,49);
    font-weight: bold;
    font-size: 0.875em;
    padding: 5px;
    border-radius: 4px;
}
.available{
    font-size: 3.706em;
    font-weight: bold;
    margin: 0;
    width:38%;
    text-align: center;
}
.justLaunched{
    font-size: 1.416em;
    margin-bottom: 150px;
}
.contentAv{
    font-size: 0.875em;
}
.logos{
    width: 120px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.phone1{
    position: absolute;
    left: 0;
    width: auto;
    height: 800px;
    left: -50px;
    margin-bottom: -850px;
}
.phone2{
    position: absolute;
    width: auto;
    height: 800px;
    margin-bottom: -366px;
    right: -300px;
}
footer{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    z-index: 5;
    background-color: white;
    position: relative;
}
.Reserved{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Reserved>p{
    margin: 0;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.footerLogoDiv{
    display: flex;
    align-items:flex-end;
    gap:15px;
}
.footerLogoDiv>p{
    margin: 0;
}
.footerTopDivs{
    display: flex;
    gap: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.HR3{
    color:black;
    width:100%;
}
.logoDiv{
    width: 25%;
}
.menuDiv{
    display: none;
    z-index: 3;
}
.burger1000back{
    width:70%;
    background-color: rgb(200, 224, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap:30px;
    padding: 30px;
    border-radius:20px;
    height: 200px;
}
.burger1000{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    top:150px;
    width: 100%;
    z-index: 3;
}
.back{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
}
.burger768back{
    width:70%;
    background-color: rgb(200, 224, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap:30px;
    padding: 30px;
    border-radius:20px;
    height: 300px;
}
.burger768{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    top:150px;
    width: 100%;
    z-index: 3;
}